{
  "arrowParens": "avoid",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "embeddedLanguageFormatting": "auto",
  "endOfLine": "lf",
  "printWidth": 120,
  "quoteProps": "consistent",
  "semi": false,
  "singleAttributePerLine": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "useTabs": false,
  "overrides": [
    {
      "files": ["*.yml", "*.yaml"],
      "options": {
        "bracketSpacing": true,
        "printWidth": 120,
        "proseWrap": "preserve",
        "singleQuote": false,
        "tabWidth": 2,
        "useTabs": false
      }
    },
    {
      "files": ["*.md"],
      "options": {
        "embeddedLanguageFormatting": "auto",
        "printWidth": 100,
        "proseWrap": "preserve",
        "tabWidth": 2,
        "useTabs": false
      }
    }
  ]
}
